- @title = "Contact"

%h2 Contact Us
%p If you have a suggestion, comment, or idea that you wish to share with us, just fill out the form below and hit send, and we'll get back to you as soon as possible!
= render :partial => 'form'